<!DOCTYPE html>
<html>
  <head>
    <title>Curated</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <% if current_tenant %>
        <%= link_to "Powered by #{Rails.application.credentials.dig(:app, :name)}", root_url(subdomain: false) %>
      <% end %>
    </footer>
  </body>
</html>
